<sf-item-wrap [id]="id"
              [schema]="schema"
              [ui]="ui"
              [showError]="showError"
              [error]="error"
              [showTitle]="schema.title">
    <!-- 开始自定义控件区域 -->

    <rm-function-tree-select [parentId]="ui.parentId"
                             [maxLevel]="ui.maxLevel"
                             [(ngModel)]="selectedValue"
                             (ngModelChange)="setValue($event)"
    ></rm-function-tree-select>
    <!-- 结束自定义控件区域 -->
</sf-item-wrap>
